<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pierwszy projekt springowy</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Kalkulator</h1>
        <!-- Zadanie 1 
        <form action="/" method="post">
            X:<input type="number" name="x" /><br/>
            Y:<input type="number" name="y" /><br/>
            <input type="submit" value="Dodaj" /><br/>
            <span th:text=${x} + '+' + ${y} + '=' + ${z}">Działanie</span>
        </form>
        <br/>
        -->
        
        <!-- Zadanie 2 
        <form action="/" method="post">
            X:<input type="number" name="x" /><br/>
            <select name="nazwa">
		<option value="dodawanie">Dodawanie</option>
                <option value="odejmowanie">Odejmowanie</option>
		<option value="mnozenie">Mnożenie</option>
            </select><br/>
            Y:<input type="number" name="y" /><br/>
            <input type="submit" value="Wynik" /><br/>
            <span th:text="${x} + ${znak} + ${y} + '=' + ${z}">Działanie</span>
        </form>
        <br/>
        -->
        
        <!-- Zadanie 3 --> 
        <form action="/" method="post">
            X:<input type="number" name="x" /><br/>
            <select name="nazwa">
		<option value="dodawanie">Dodawanie</option>
                <option value="odejmowanie">Odejmowanie</option>
		<option value="mnozenie">Mnożenie</option>
            </select><br/>
            Y:<input type="number" name="y" /><br/>
            <input type="submit" value="Wynik" /><br/>
            <span th:text="${x} + ${znak} + ${y} + '=' + ${z}">Działanie</span>
        </form>
        <br/>        
        
        
        
        
        
    </body>
</html>